    <footer>
        
        <div class="icons-media">
            <a class="link-social-media" href="https://www.instagram.com/fasol_modapraia/">
                <i class="social-icon fab fa-instagram"></i>
            </a>
            <a class="link-social-media" href="https://www.facebook.com/FaSoalheiro/">
                <i class="social-icon fab fa-facebook"></i>
            </a>
            <a class="link-social-media" href="fasoalheiro@gmail.com">
                <i class="social-icon fas fa-at"></i>
            </a>            
        </div>
        
    </footer>

    <script src="js/index.js"></script>
</body>
</html>