<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaSol</title>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    
    <!--Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/rce5skz.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    
</head>
<body>
    <header class="header">

        <div class="header_logo">
            <a href="/">
                <img class="logo" src="/images/fasol-logo.png" alt="logo fasol moda praia">
            </a>
        </div>

        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="/" class="nav_link">P치gina Inicial</a></li>
                <li class="nav_item"><a href="/nossa-historia" class="nav_link">Nossa Hist칩ria</a></li>
                <li class="nav_item"><a href="/praia" class="nav_link">Moda Praia</a></li>
                <li class="nav_item"><a href="/personalizado" class="nav_link">Personalizado</a></li>
                <li class="nav_item"><a href="/blog" class="nav_link">Blog</a></li>
                <li class="nav_item"><a href="/contato" class="nav_link">Contato</a></li>
                <li class="nav_item"><a href="/access" class="nav_link">Login</a></li>
            </ul>
        </nav>

        <button class="nav-toggle" aria-label="navigation">
            <span class="hamburger"></span>
        </button>

        <div class="buttons-header">

            <a class="btn-link" href="/"><button type="button" 
                class="btn btn-outline-primary btn-label"> P치gina Inicial</button></a>
            <a class="btn-link" href="/nossa-historia"><button type="button" 
                class="btn btn-outline-primary btn-label"> Nossa Hist칩ria</button></a>
            <a class="btn-link" href="/praia"><button type="button" 
                class="btn btn-outline-primary btn-label">Moda Praia </button></a>
            <a class="btn-link" href="/personalizado"><button type="button" 
                class="btn btn-outline-primary btn-label">Personalizado</button></a>
            <a class="btn-link" href="/blog"><button type="button" 
                class="btn btn-outline-primary btn-label"> Blog</button></a>
            <a class="btn-link" href="/contato"><button type="button" 
                class="btn btn-outline-primary btn-label"> Contato</button></a>
            <input class="input-button btn-link" type="search" name="search" 
                placeholder= "O que procura?"> 
                        
        </div>

    </header>