<%- include("partials/header"); -%>

    <div class="jumbotron centered">
        <div class="container-fluid">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">Registre-se ou faça o login</h1>

            <a class="btn btn-dark btn-lg access" href="/register" role="button">Register</a>
            <a class="btn btn-dark btn-lg access" href="/login" role="button">Login</a>
        </div>
    </div>
    
<%- include("partials/footer"); -%>