<%- include("partials/header"); -%>

    <div class="jumbotron centered">
        <div class="container-fluid">
            <div class="card ">
                <div class="card-body">
                  <h1 class="card-title">O que vamos fazer hoje?</h1>
                  <h4 class="card-text">Escolha uma das opções abaixo.</h4>
                  <a href="/compose" class="btn send-form btn-admin">Posts</a>
                  <a href="/bikini" class="btn send-form btn-admin">Biquínis</a>
                  <a href="/clientrequest" class="btn send-form btn-admin">Pedidos</a>
                  <a href="/clientmessage" class="btn send-form btn-admin">Mensagens</a>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>