<%- include("partials/header"); -%>

    <section class="blog">
        <div class="container-fluid">
            <div class="titles-blog">
                <h1 class="title-blog" >A Evolução do Biquíni na Moda</h1>
                <h4 class="subtitle-blog">Por Clara Soalheiro e Lara Soalheiro --- 11/08/2020</h4> 
            </div>

            <div class="box-image-blog">
                <img class="image-blog" src="images/imagesBlog/louis-bikini.png" alt="Louis Reard designer stylist">
            </div>
                
            <article role="article"><h3 class="section-blog">
                Quando falamos de moda praia, beachwear, biquíni e afins, o Brasil é referência. Seja por suas
                lindas praias ou por nossas ousadas peças de banho, a verdade é que o biquini não surgiu aqui no
                país tropical, e sim em uma piscina popular em Paris, no dia 5 de julho de 1946. Revelado pelo de-
                signer francês Louis Réard a primeira peça de beachwear, conhecida como o maiô de duas peças, no
                Piscine Molitor. A dançarina parisiense Micheline Bernardini estreou a nova moda, que Réard ape-
                lidou de “biquíni”, inspirada em um teste atômico dos Estados Unidos que aconteceu no Atol de
                Biquíni, no Oceano Pacífico.</h3>
            </article>
            <section>
                <img src="images/imagesBlog/coton-bikini.png" alt="bikini de algodão ano 1940">
                <img src="images/imagesBlog/1940-bikini.png" alt="bikini ano 1940">
            </section>

            <article role="article"><h3 class="section-blog">
                A década de 40 é marcada pela Segunda Guerra Mundial que gera um racionamento. Foi determina-
                do às fábricas a redução da quantidade de tecido, dessa forma, nasceu a roupa de banho de duas
                peças, exibindo uma fatia da barriga. Algodão e linho eram os tecidos mais usados, mas que pro-
                porcionava um desconforto devido ao peso do tecido quando molhado. Estampas de listras, poá e
                florais faziam sucesso na época.</h3>
            </article>         
            
            <section>
                <img src="images/imagesBlog/miss-bikini.png" alt="participantes do cooncurso Miss Universo 1951 usando bikini">
                <img src="images/imagesBlog/modelo-1950-bikini.png" alt="bikini modelo usando bikini colorido 1950">
                <img src="images/imagesBlog/1950-bikini.png" alt="bikini ano 1950">
            </section>

            <article role="article"><h3 class="section-blog" >
                O modelo dos anos 50 era semelhante ao da década anterior, mas havia maior variedade de estampa. 
                O ousado modelo, biquíni de duas peças, foi banido em todo mundo após a sua aparição no pri-
                meiro concurso de beleza Miss Mundo, em Londres em 1951.
                No Brasil o maiô ainda prevalecia, mais especificamente da marca Catalina, que patrocinava o Miss
                Brasil. Em 1957 o biquíni é popularizado no Festival de Cannes pela ousada Brigitte Bardot, que
                exibe a peça em todas as praias do Sul da França. Estrelas de Hollywood como Marilyn Monroe e
                Esther Williams seguem a tendência iniciada por Bardot.</h3>
            </article>
            
            <section>
                <img src="images/imagesBlog/esther-bikini.png" alt="Esther Williams usando bikini 1960">
                <img src="images/imagesBlog/brigitte-bikini.png" alt="Brigitte Bardot usando bikini 1960">
                <img src="images/imagesBlog/1960-bikini.png" alt="bikini ano 1960">
            </section>

            <article role="article"><h3 class="section-blog">
                Em 1962 inicia a história do biquíni no cinema, quando a personagem Honey Rider interpretada
                pela atriz Ursula Andress, no filme James Bond Dr. No, emerge do mar usando biquíni branco com
                cinto. Na década de 60 a beleza das praias brasileiras começa a ser descobertas pelas estrelas de
                todo o mundo. Brigitte Bardot que já havia feito sucesso lá fora, arrasando de biquíni no filme E
                Deus Criou A Mulher, veio fazer sucesso nas praias de Búzios (RJ) também. Nesse período as peças
                começam a ser produzidas em lycras, tecidos mais confortáveis, calcinhas de cintura baixa e estam-
                pas geométricas. Mas o Brasil ainda não era o centro inspirador mundial na beachwear.
            </h3></article>

            <section>
                <img src="images/imagesBlog/leila-bikini.png" alt="Leila Diniz usando bikini gravida 1970">
                <img src="images/imagesBlog/1970-bikini.png" alt="bikini ano 1970">
            </section>

            <article role="article"><h3 class="section-blog" >
                O início da década de 70 é marcado pela foto icônica da atriz brasileira Leila Diniz, que é fotografa-
                da na praia de Ipanema, grávida e com um biquíni que foi considerado muito pequeno para época.
                E é justamente nessa década que as brasileiras começam usar os biquínis um pouco menores, fugin-
                do dos padrões europeus e americanos. Foi assim que começou a surgir muitas marcas cariocas. O
                biquíni jeans é criado, uma peça que não passava nas coxas das clientes por ser apertado, e para
                não jogar fora toda a produção, a solução foi cortar as laterais e amarrá-las ao gosto da cliente.
                Assim nasce uma das peças queridinhas do público brasileiro, o biquíni de lacinho, dominando as
                nossas praias e inspirando o resto do mundo.
            </h3></article>

            <section>
                <img src="images/imagesBlog/asadelta-bikini.png" alt="Modelos usando bikini 1980 praia">
                <img src="images/imagesBlog/galisteu-bikini.png" alt="Adriane Galisteu usando bikini 1980">
                <img src="images/imagesBlog/1980-bikini.png" alt="bikini ano 1980">
            </section>

            <article role="article"><h3 class="section-blog" >
                Após a nossa criação do biquíni de lacinho, a criatividade brasileira não parou, surge o top corti-
                ninha, calcinha de lacinho bem finos, asa-delta e a mais ousada e chocante criação, o fio dental.
            </h3></article>

            <img src="images/imagesBlog/black-bikini.png" alt="Modelos usando bikini 1990 praia">
            <img src="images/imagesBlog/colorful-bikini.png" alt="Adriane Galisteu usando bikini 1990">
            <img src="images/imagesBlog/1990-bikini.png" alt="bikini ano 1990">

            <article role="article"><h3 class="section-blog" >
                Foi a partir da década de 90 que o Brasil apresentou as melhores modelagens, estampas, tecidos
                que o biquíni pode ter, consolidando o nosso produto mais famoso. O que contribuiu para o aumento
                na exportação. Consumidores americanos, europeus aprovaram as peças brasileiras como únicas e
                de qualidade. Assim surge novas marcas no país e a criação de novos produtos como saídas de
                banho, cangas, bolsas e acessórios.
            </h3></article>

            <img src="images/imagesBlog/sunga1.png" alt="Modelo usando sunga de banho 2000 praia">
            <img src="images/imagesBlog/sunga2.png" alt="Modelo usando sunga praia 2000">
            <img src="images/imagesBlog/2000-bikini.png" alt="bikini ano 2000">

            <article role="article"><h3 class="section-blog" >
                Nos anos 2000 surge a sunga brasileira para homens, com novas tecnologias que influenciam a
                aparição de novos tecidos, estampas e modelagens.
            </h3></article>
            
            <img src="images/imagesBlog/strappyModels-bikini.png" alt="Modelos usando bikini modelo strappy 2010 praia">
            <img src="images/imagesBlog/blackStrappy-bikini.png" alt="Modelo usando bikini preto strappy 2010">
            <img src="images/imagesBlog/2010-bikini.png" alt="bikini ano 2010">

            <article role="article"><h3 class="section-blog" >
                A década passada foi marcada pelo surgimento do strappy bra, alças em formatos de “tiras”, dando
                a impressão de diferentes desenhos na pele, essa tendência se assemelhou na moda praia, que ficou
                conhecido como biquíni 3D.<br>
                O biquíni assim como a moda não tem apenas um papel de vestimenta, e sim há uma ligação direta
                com a cultura e ideais sociais. Essa peça que hoje em dia é muito comum para nós brasileiros, vem
                há tempos contribuindo para transformação do comportamento da mulher. O biquíni anteriormente
                considerado como ousado, contribuiu para superar estigmas e proibições associados ao corpo das
                mulheres, dessa forma, permitindo a autonomia e aceitação da nossa imagem.
            </h3></article>

        </div>    
    </section>

<%- include("partials/footer"); -%> 