<%- include("partials/header"); -%>

    <section class="blog">

        <div class="titles-blog">
            <h2 class="title-blog">A Evolução da Moda Praia - 31/05/2020</h2>
            <h2 class="subtitle-blog">Confira a história e a evolução da moda praia!</h2>
        </div>        
        
        <div class="img-blog">
            <img class="image-blog" src="/images/imagem-blog.png" alt="bikini evolution">
        </div>
            
    </section>

<!-- <%- include("partials/footer"); -%> -->