<%- include("partials/header"); -%>

    <section>
        
        <h2>A Evolução da Moda Praia - 31/05/2020</h2>
        <h2>Confira a história e a evolução da moda praia!</h2>
            
    </section>

<%- include("partials/footer"); -%>