<%- include("partials/header"); -%>

    <section class="compose">
        <div class="titles-compose">
            <h2>Title</h2>
            <h2>Subtitle</h2>
        </div>
        
        <div class="image-compose">
            <img>
        </div>
        
    </section>


<%- include("partials/footer"); -%>    