<%- include("partials/header"); -%>

    <section class="home-section">
        <div class="container-fluid">
            <div class="image-background">
                <img src="/images/evolucao-biquini.png" alt="women in different bikinis" class="image-home">                                                 
            </div>
            <h1 class="title-home">A Evolução da Moda Praia</h1>            
        </div>  
        
        <div class="circle1"></div>
        <div class="circle2"></div>      
    </section>

<%- include("partials/footer"); -%>    