<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaSol</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header class="header">

        <div class="header_logo">
            <img class="logo" src="/images/fasol-logo.png" alt="logo fasol moda praia">
        </div>

        <div class="nav-bar">
            <button type="button" class="btn btn-outline-primary">Nossa História</button>
            <button class="btn btn-outline-primary">Praia</button>
            <button class="btn btn-outline-primary">Personalizado</button>
            <button class="btn btn-outline-primary">Fitness</button>
            <button class="btn btn-outline-primary">Contato</button>
            <button class="btn btn-outline-primary">O que procura</button>
        </div>

    </header>
</body>
</html>