<%- include("partials/header"); -%>

    <section class="home-section">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-md-3 images">
            
                <div class="col-sm-4 item">
                    <img src="/images/evolucao-biquini.png" alt="women with different bikinis" class="image">
                </div>                                   
            
            </div>
            <h1 class="title-home">A Evolução da Moda Praia</h1>
        </div>        
    </section>

<%- include("partials/footer"); -%>    