<%- include("partials/header"); -%>

    <section class="container-fluid home-section">
        <div class="container-fluid">

            <!-- <div class="row">

                <div class="col">
                    <img src="/images/evolucao-biquini.png" alt="women in different bikinis" class="image-home">
                </div>
                                                                 
            </div> -->
            <h1 class="title-home">A Evolução do Biquíni na Moda</h1> 

            <div class="circles">
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>                     
        </div>  
           
    </section>

<%- include("partials/footer"); -%>    