<%- include("partials/header"); -%>

    <section class="home-section">
        <div>
            <div class="image-background">
                <img src="/images/evolucao-biquini.png" alt="women in different bikinis" class="image-home">                                                 
            </div>
            <h1 class="title-home">FaSol Moda Praia</h1>
            <h2 class="subtitle-home">A Evolução da Moda</h2>  

            <div class="circles">
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>                     
        </div>  
           
    </section>

<%- include("partials/footer"); -%>    