<%- include("partials/header"); -%>

    <section class="history-section">

        <div class="image-history">
            <div class="picture"></div>
        </div>
        
        <div class="text-history">
            <h3 class="paragraph-history">A Fasol além de ser uma marca que é feita especialmente para
                mulheres, é feita por mulheres.</h3>
            
            <h3 class="paragraph-history">Fátima, ou melhor, Fatinha como é conhecida por todos, uma mulher linda e sorridente e de muita fé.</h3>
            
            <h3 class="paragraph-history">É mãe de 4 filhas que indiretamente influenciou encontrar a paixão pela costura, através delas sentiu a necessidade de fabricar peças íntimas.</h3>
            
            <h3 class="paragraph-history">Com o passar dos anos ela descobriu uma nova paixão: A moda praia.</h3>
    
            <h3 class="paragraph-history">Fatinha vivia no clube com suas filhas e amou o mar quando viu pela primeira vez, e assim ela juntou suas paixões, o mar, o sol e a costura moda praia.</h3>
    
            <h3 class="paragraph-history">Assim nasce a FaSoL uma marca que é feita especialmente para você, para o seu corpo do seu gosto, é a moda praia do seu jeito. </h3>
        </div>
        
    </section>

<!-- <%- include("partials/footer"); -%> -->