<%- include("partials/header"); -%>

    <section class="text-personalizado">
        <h3 class="subtitle-personalizado"><em>Somos diversos! O nosso corpo e gosto é único!</em></h3>

        <h3 class="description-personalizado">É pensando nisso que personalizamos a moda praia do seu jeito, com suas medidas, com o modelo que deseja, cor e estampa. Preencha seus dados abaixo e faça seu orçamento:</h3>
    </section>

    <section class="form-section">
        <h3 class="title-form">Formulário</h3>        

        <form action="/" method="POST" class="form">
             <!--Inputs for the images-->
            <div class="images-measures">
                <label class="man-height-label" for="man-height">Altura</label>
                <input class="input-form height-man-form" name="man-height" type="number">
                <img src="/images/homem-medidas.png" alt="man mesures" class="man-mesures">
                <label for="man-hip">Quadril</label>
                <input class="input-form man-hip-form" name="man-hip" type="number">

                <label for="woman-height">Altura</label>
                <input class="input-form height-woman-form" name="woman-height" type="number">
                <img src="/images/mulher-medidas.png" alt="woman mesures" class="woman-mesures">
                <label for="woman-bra">Busto</label>
                <input class="input-form woman-bra-form" name="woman-bra" type="number">
                <label for="woman-waist">Cintura</label>
                <input class="input-form woman-waist-form" name="woman-waist" type="number">
                <label for="woman-hip">Quadril</label>
                <input class="input-form woman-hip-form" name="woman-hip" type="number">
            </div>                   
                    
            <!--Inputs for the rest of the form-->
            <label for="nome">Nome Completo:</label>
            <input class="input-form name-form" name="nome" type="text">

            <label for="email">E-mail:</label>
            <input class="input-form email-form"  name="email" type="email">

            <label for="contact">Contato:</label>
            <input class="input-form contact-form"  name="contact" type="text">

            <label for="pants">Numeração de Calça:</label>
            <input class="input-form number-form pants"  name="pants" type="number">

            <label for="bra">Numeração do Sutiã:</label>
            <input class="input-form number-form"  name="bra" type="text">

            <label for="model-url">Modelo para inspiração:</label>
            <input class="input-form model-form"  name="model-url" type="url" placeholder="Colar URL da Imagem">

            <label for="model-image"></label>
            <input class="input-form model-form" name="model-image" type="file" placeholder="Fazer Upload de Imagem"><br>

            <button type="submit" class="submit-form">Enviar</button>
        
        </form>

    </section>

<%- include("partials/footer"); -%> 