<%- include("partials/header"); -%>

    <section class="text-personalizado">
        <h3 class="subtitle-personalizado"><em>Somos diversos! O nosso corpo e gosto é único!</em></h3>

        <h3 class="description-personalizado">É pensando nisso que personalizamos a moda praia do seu jeito, com suas medidas, com o modelo que deseja, cor e estampa. Preencha seus dados abaixo e faça seu orçamento:</h3>
    </section>

    <section class="form-section">
        <h3 class="title-form">Formulário</h3>        

        <form action="/" method="POST" class="form">
             <!--Inputs for the beginning of the form-->
             <div class="fields-form">
                <div class="field-form name">
                    <label class="name-label" for="nameperson">Nome Completo:</label>
                    <input class="input-form name-input" name="nameperson" type="text">
                </div>                 
                <div class="field-form client-email">
                    <label class="email-label" for="emailperson">E-mail:</label>
                    <input class="input-form email-input"  name="emailperson" type="email">
                </div>
                <div class="field-form client-contact">
                    <label class="contact-label" for="contactperson">Contato:</label>
                    <input class="input-form contact-input"  name="contactperson" type="text">
                </div>                
                <div class="field-form client-model">
                    <label class="model-name-label" for="modelurlperson">Modelo para inspiração:</label>
                    <input class="input-form model-name-input" name="modelurlperson" type="url" placeholder="Colar URL da Imagem">
                    <input type="file" name="fileperson" id="file" class="inputfile"                      accept="image/*" enctype="multipart/form-data" data-multiple-caption="{count} files selected" multiple >
                    <label class="upload-file" for="fileperson">Fazer Upload de Imagem</label>
                   
                </div>
                
                <div class="row available-options">
                    <div class="col">
                        <div class="available-colors">
                            <h3>Cores Disponíveis</h3>
                            <div>
                                <div class="blocks pink"></div>
                                <div class="blocks black"></div>
                                <div class="blocks blue"></div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="available-prints">
                            <h3>Estampas Disponíveis</h3>
                            <div>
                                <div class="blocks pink"></div>
                                <div class="blocks black"></div>
                                <div class="blocks blue"></div>
                            </div>                            
                        </div>
                    </div>
                </div>                
                
            </div> 

            <div class="row woman-row">
                <div class="col-12 title">
                    <div class="title-measures">
                        <img class="symbol" src="images/simbolo-feminino.png" alt="símbolo feminino">
                        <h2 class="title-symbol">Mulher - Medidas:</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">            
                    <div class="woman-measures-1">
                        <div class="field-form bra-size">
                            <label class="bra-label" for="bra">Tamanho do Sutiã:</label>
                            <input class="input-form small-input" name="bra" type="text">
                        </div>  
                        <div class="field-form panties">
                            <label class="panties-label" for="pantieswoman">Tamanho da Calcinha:</label>
                            <input class="input-form small-input" name="pantieswoman" type="text" placeholder="">
                        </div>
                        <div class="field-form height">
                            <label class="height-label" for="heightwoman">Altura:</label>
                            <input class="input-form small-input" name="heightwoman" type="text" placeholder="">
                        </div>
                        <div class="field-form bra">
                            <label class="bra-label" for="brawoman">Medida do Busto:</label>
                            <input class="input-form small-input" name="brawoman" type="text" placeholder="">
                        </div>
                        <div class="field-form sob-bra">
                            <label class="sob-bra-label" for="sobBra">Medida do Sob Busto:</label>
                            <input class="input-form small-input" name="sobBra" type="text" placeholder="">
                        </div>
                        <div class="field-form waist">
                            <label class="waist-label" for="waistwoman">Medida da Cintura:</label>
                            <input class="input-form small-input" name="waistwoman" type="text" placeholder="">
                        </div>
                        <div class="field-form hip">
                            <label class="hip-label" for="hipwoman">Medida do Quadril:</label>
                            <input class="input-form small-input" name="hipwoman" type="text" placeholder="">
                        </div>
                        <div>
                            <p class="text-measures"><em>PARA SABER SEU TAMANHO E COMO TIRAR SUAS MEDIDAS ROLE PARA BAIXO</em></p>
                        </div>
                    </div>                    
                </div>
                <div class="col avatar-woman">
                    <div class="woman-measures-img">
                        <div class="">
                            <img class="avatar" src="images/AvatarFeminino.png" alt="ilustração das medidas da mulher para o tamanho correto de bikinis"> 
                        </div>                                                
                    </div>
                </div>
            </div>  
            
            <div class="row man-row">
                <div class="col-12 title">
                    <div class="title-measures-blue title-measures">
                        <img class="symbol" src="images/simbolo-masculino.png" alt="símbolo masculino">
                        <h2 class="title-symbol">Homem - Medidas:</h2>
                    </div>                    
                </div>

                <div class="col ">
                    <div class="man-measures-1">
                        <div class="field-form hip">
                            <label class="hip-label" for="hipman">Medida do Quadril:</label>
                            <input class="input-form small-input" name="hipman" type="text" placeholder="">
                        </div>
                        <div class="field-form thigh">
                            <label class="thigh-label" for="thighman">Medida da Coxa:</label>
                            <input class="input-form small-input" name="thighman" type="text" placeholder="">
                        </div>
                        <div class="field-form waist">
                            <label class="waist-label" for="waistman">Medida da Cintura:</label>
                            <input class="input-form small-input" name="waistman" type="text" placeholder="">
                        </div>
                        <div class="field-form height">
                            <label class="height-label" for="heightman">Altura:</label>
                            <input class="input-form small-input" name="heightman" type="text" placeholder="">
                        </div>
                        <div>
                            <p class="text-measures"><em>PARA SABER SEU TAMANHO E COMO TIRAR SUAS MEDIDAS ROLE PARA BAIXO</em></p>
                        </div>
                    </div>                  
                </div>
                <div class="col">
                    <div class="man-measures-img">
                        <div class="avatar-man">
                            <img class="avatar" src="images/AvatarMasculino.png" alt="ilustração das medidas masculinas para roupa de banho">
                        </div>                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="submit-form-div">
                        <button type="submit" class="btn submit-form">Enviar</button>
                    </div>
                </div>
            </div>                   
                     
        </form>

    </section>
    <section class="descritive-tables">
        <div class="woman-tables">
            <h3>MULHER - COMO TIRAR SUAS MEDIDAS</h3>
            <img class="table" src="images/tabela-medidas-feminino1.png" alt="tabela explicativa sobre como tirar as medidas para saber o tamanho do bikini">
            <img class="table" src="images/tabela-medidas-feminino2.png" alt="tabela explicativa sobre como tirar as medidas para saber o tamanho do bikini">
        </div>

        <div class="man-tables">
            <h3>HOMEM - COMO TIRAR SUAS MEDIDAS</h3>
            <img class="table" src="images/tabela-medidas-masculino.png" alt="tabela explicativa sobre como tirar as medidas para saber o tamanho da roupa de banho">
        </div>
        
    </section>

<%- include("partials/footer"); -%> 