<%- include("partials/header"); -%>

    <section>
        <h1><em>Somos diversos! O nosso corpo e gosto é único!</em></h1>

        <h3>É pensando nisso que personalizamos a moda praia do seu jeito, com suas medidas, com o modelo
            que deseja, cor e estampa. Preencha seus dados abaixo e faça seu orçamento:</h3>
    </section>

    <section>
        <h2>Formulário</h2>

        <img>
        <img>

        <form action="/" method="POST" class="form">

            <label for="nome">Nome Completo:</label>
            <input name="nome" type="text">

            <label for="email">E-mail:</label>
            <input name="email" type="email">

            <label for="contact">Contato:</label>
            <input name="contact" type="text">

            <label for="pants">Numeração de Calça:</label>
            <input name="pants" type="number">

            <label for="bra">Numeração do Sutiã:</label>
            <input name="bra" type="text">

            <label for="model-url">Modelo para inspiração:</label>
            <input name="model-url" type="url" placeholder="Colar URL da Imagem">

            <label for="model-image"></label>
            <input name="model-image" type="file" placeholder="Fazer Upload de Imagem">

            <button type="submit">Enviar</button>
        
        </form>

    </section>

<%- include("partials/footer"); -%>