<%- include("partials/header"); -%>

    <section class="beach-section">
        <h1 class="beach-section-title">Moda Praia</h1>
        <h2></h2>

        <div class="bikinis">
            <div class="bikini-item">
                <img class="bikini-img print-img" src="images/bikini-hot-panties-black.PNG" alt="bikini preto estilo cropped e hot pant">
                <h3>Biquíni Cropped + Hot Pant <br> R$100,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/bikini-blue.jpeg" alt="bikini azul estilo hot pants">
                <h3>Biquíni + Hot Pant <br> R$100,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/bikini-green.jpeg" alt="bikini verde estilo de lacinho">
                <h3>Biquíni de Lacinho <br> R$90,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img print-img" src="images/bikini-maio.PNG" alt="maiô preto estilo clássico">
                <h3>Maiô <br>R$90,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img print-img" src="images/bikini-cortininha.PNG" alt="bikini preto estilo cortininha">
                <h3>Biquíni Cortininha <br>R$90,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img print-img" src="images/bikini-tomara-black.PNG" alt="bikini preto estilo tomara que caia">
                <h3>Biquíni Tomara que Caia <br>R$90,00</h3>
            </div>
        </div>
        <div class="client-options">
            <h2 class="client-options-text">Quer o seu biquíni feito para você? Clique
                <a href="/personalizado" class="client-options-link"> aqui</a></h2>
            <h3 class="client-options-text">Entre em contato com a gente.<a href="/contato" class="client-options-link"> Contato</a></h3>
        </div>

    </section>

<%- include("partials/footer"); -%>