<%- include("partials/header"); -%>

    <section class="beach-section">
        <h1 class="beach-section-title"><strong>Moda Praia</strong></h1>
        <h2></h2>

        <div class="bikinis">
            <div class="bikini-item">
                <img class="bikini-img" src="images/photosBikinis/azul-hotpant.png" alt="Biquíni Azul Marinho com Bojo e Hotpant">
                <h3>Biquíni Azul Marinho com Bojo e Hotpant<br> R$110,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/photosBikinis/brown-estampado.png" alt="bikini Cortininha Brown Estampado">
                <h3>Biquíni Cortininha Brown Estampado<br> R$75,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/photosBikinis/estampado-borboleta.png" alt="Biquíni Estampado Cortininha Calcinha Borboleta">
                <h3>Biquíni Cortininha Estampado e Calcinha Borboleta<br> R$75,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/photosBikinis/tribal-surf.png" alt="Biquíni Cortininha Tribal Surf">
                <h3>Biquíni Cortininha Tribal Surf <br>R$90,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/photosBikinis/veludo-borboleta.png" alt="Biquíni Estampado Veludo Tomara que Caia Calcinha Borboleta">
                <h3>Biquíni Estampado Veludo Tomara que Caia e Calcinha Borboleta <br>R$75,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/photosBikinis/verde-militar.png" alt="Biquíni Verde Militar com Estampa">
                <h3>Biquíni Verde Militar com Estampa <br>R$75,00</h3>
            </div>
            <div class="bikini-item">
                <img class="bikini-img" src="images/photosBikinis/vermelho-hotpant.png" alt="Biquíni Vermelho com Bojo e Hotpant">
                <h3>Biquíni Vermelho com Bojo e Hotpant <br>R$75,00</h3>
            </div>
        </div>
        <div class="client-options">
            <h2 class="client-options-text">Quer o seu biquíni feito para você? Clique
                <a href="/personalizado" class="client-options-link"><em> aqui.</em></a></h2>
            <h3 class="client-options-text">Entre em contato com a gente por<a href="/contato" class="client-options-link"><em> aqui.</em></a></h3>
        </div>
        
    </section>
    <hr>

<%- include("partials/footer"); -%>