<%- include("partials/header"); -%>

    <section class="beach-section">
        <h1 class="beach-section-title"><strong>Moda Praia</strong></h1>
        <h2></h2>

        <div class="bikinis">
            <div class="card bikini-item">
                <img class="bikini-img" src="images/photosBikinis/azul-hotpant.png" alt="Biquíni Azul Marinho com Bojo e Hotpant">
                <div class="card-body">
                    <h3>Biquíni Azul Marinho com Bojo e Hotpant</h3>
                    <h3>Tamanho XG</h3>
                    <h3>R$110,00</h3>
                </div>
            </div>
            <div class="card bikini-item">
                <img class="bikini-img" src="images/photosBikinis/brown-estampado.png" alt="Biquíni Cortininha Brown Estampado">
                <div class="card-body">
                    <h3>Biquíni Cortininha Brown Estampado</h3>
                    <h3>Tamanho M</h3>
                    <h3>R$75,00</h3>
                </div>
            </div>
            <div class="card bikini-item">
                <img class="bikini-img" src="images/photosBikinis/estampado-borboleta.png" alt="Biquíni Estampado Cortininha Calcinha Borboleta">
                <div class="card-body">
                    <h3>Biquíni Cortininha Estampado e Calcinha Borboleta</h3>
                    <h3>Tamanho M</h3>
                    <h3>R$75,00</h3>
                </div>
            </div>
            <div class="card bikini-item">
                <img class="bikini-img" src="images/photosBikinis/tribal-surf.png" alt="Biquíni Cortininha Tribal Surf">
                <div class="card-body">
                    <h3>Biquíni Cortininha Tribal Surf</h3>
                    <h3>Tamanho P</h3>
                    <h3>R$90,00</h3>
                </div>
            </div>
            <div class="card bikini-item">
                <img class="bikini-img" src="images/photosBikinis/veludo-borboleta.png" alt="Biquíni Estampado Veludo Tomara que Caia Calcinha Borboleta">
                <div class="card-body">
                    <h3>Biquíni Estampado Veludo Tomara que Caia e Calcinha Borboleta</h3>
                    <h3>Tamanho M</h3>
                    <h3>R$75,00</h3>
                </div>
            </div>
            <div class="card bikini-item">
                <img class="bikini-img" src="images/photosBikinis/verde-militar.png" alt="Biquíni Verde Militar com Estampa">
                <div class="card-body">
                    <h3>Biquíni Verde Militar com Estampa</h3>
                    <h3>Tamanho P</h3>
                    <h3>R$75,00</h3>
                </div>
            </div>
            <div class="card bikini-item">
                <img class="bikini-img" src="images/photosBikinis/vermelho-hotpant.png" alt="Biquíni Vermelho com Bojo e Hotpant">
                <div class="card-body">
                    <h3>Biquíni Vermelho com Bojo e Hotpant </h3>
                    <h3>Tamanho G</h3>
                    <h3>R$110,00</h3>
                </div>
            </div>
        </div>
                
    </section>
    <section class="client">
        <div class="card">
            <div class="card-body client-options">
                <h2 class="client-options-text">Quer o seu biquíni feito para você? Clique
                    <a href="/personalizado" class="client-options-link"><em> aqui.</em></a></h2>
                <h3 class="client-options-text">Entre em contato com a gente por<a href="/contato" class="client-options-link"><em> aqui.</em></a></h3>
            </div>
        </div>
    </section>
    

<%- include("partials/footer"); -%>