
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root{
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-roboto: 'Roboto Condensed', sans-serif;
    --ff-dafoe: 'Mr Dafoe', cursive;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: .75rem;

    --clr-light: #fff;
    --clr-blue: rgb(28, 87, 124);
    --clr-light-blue: rgb(147, 189, 209);
    --clr-gray: rgb(160, 169, 173);
    --clr-yellow: rgb(243, 225, 135);
    --clr-light-yellow: rgb(241, 225, 159);
    --clr-orange: #f3b62c;
        
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1rem;
    }
}

/* General Styles */

html{ scroll-behavior: smooth; }

body{
    margin: 0;
    padding: 0;   
    font-family: var(--ff-roboto);
    font-weight: var(--fw-bold);
    color: var(--clr-blue);
    width: fit-content;
}

section{ padding-bottom: 2em; }

/* Typography */
h1, h2, h3{
    line-height: 1;
    margin: 0;
}

/* Buttons */
button:focus{ outline: none; }

.buttons-header{ margin-bottom: 0; }

.btn{
    background-color: var(--clr-light);
    cursor: pointer;    
    line-height: .95rem;
}

.btn-label{
    text-decoration: none;
    color: var(--clr-blue);
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-medium);
}

.btn-label:hover{ background-color: var(--clr-light-blue); }

.access{
    margin-top: 2em;
    background-color: var(--clr-yellow);
    color: var(--clr-blue);
}

.input-button{
    color: var(--clr-gray);
    font-weight: var(--fw-regular);
    background-image: url('/images/search-solid.svg'); 
    background-repeat: no-repeat; 
    background-position: 3px 4px;  
    background-size: 8%;  
    margin-bottom: 0;    
    padding-bottom: 5px;
    padding-top: 0;
    position: relative;
    bottom: 0;
    height: 1.65rem;
    text-indent: 0.75rem;
}

.input-button, .btn{
    display: inline-block;
    border: none;       
    font-family: var(--ff-montserrat);
    font-size: var(--fs-body);
    text-align: center;
    text-transform: uppercase;
    width: 10.5em;
    border-radius: 4em;
    border-color: white;
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    padding-right: 0;
}

.input-button:active{
    background-image: url('/images/search-solid.svg'); 
    background-repeat: no-repeat; 
    background-position: 2px 4px;  
    background-size: 8.5%; 
    border: none; 
}

.send-form{
    color: var(--clr-light);
    text-transform: uppercase;
    font-size: 1.75rem; 
    background-color: var(--clr-blue);
    border: none;
    border-radius: 10px;
    position: relative;
    width: 4.7em;
    height: 1.5em;
}

.send-form:hover{
    background-color: var(--clr-light-blue);
    color: var(--clr-light);
}

.btn-admin{
    width: fit-content;
    margin: .4em;
}

/* Styles for the Header Section */

.header{
    text-align: center;
    background-color: var(--clr-yellow);
    margin: 0;
    padding: 0;
    width: 100%;
}

.header_logo{
    width: 50%;
    position: relative;
    margin: 0.1em auto 0 auto;
}

.logo{
    width: 25%;
    min-width: 200px;
    margin: 1.5em auto 1em auto;
}

@media(min-width: 600px){
    .logo{
        width: 35%;
        min-width: 200px;
        margin: 2em auto 1.5em auto;
    }    
}

.nav{
    position: fixed;   
    background: var(--clr-light-blue);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list{
    list-style: none;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center; 
    padding: 0;  
    margin: 0;
    margin-top: 2.5em;
    margin-left: 1em;    
}

.nav_link{
    color: inherit;
    text-decoration: none;
}

.nav_link:hover{ color: var(--clr-blue); }

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    left: 0;
}

.nav-open .nav{ transform: translateX(0); }

.nav-open .nav-toggle{ position: fixed; }

.nav-open .hamburger{ transform: rotate(.625turn); }

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{ opacity: 0; }

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-blue);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{ top: 6px;}
.hamburger::after{ bottom: 6px;}

@media(max-width: 1000px){
    .nav-open .nav{
        transform: translateX(0);    
    }
}

@media(max-width: 900px){
    .buttons-header{
        display: none;
    }
}


/* Home Page Styles */
.home-section{
    margin: 0;    
    padding: 0;
    height: 30rem;
    border-left: solid 4rem var(--clr-yellow);
    border-right: solid 4rem var(--clr-yellow);
    background-color: var(--clr-yellow);
    background-image: url("/images/evolucao-biquini.png");
    background-size: 112%; 
    background-repeat: no-repeat;   
}

.titles-home{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 12em;
    font-family: var(--ff-montserrat);
    text-align: center;
    -webkit-text-stroke: 2.5px var(--clr-blue);
    color: var(--clr-light);
    width: fit-content;
}

.title-home{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;  
    box-shadow: var(--bs);  
    font-weight: var(--fw-extra-bold);
}

.subttilte-home{
    margin-top: .5em;
    font-weight: var(--fw-bold);
}

@media(max-width: 980px){
    .titles-home{
        top: 3.5em;
    }
}

@media(max-width: 480px){
    .home-section{
        height: 12em;
        border-left: solid 2em var(--clr-yellow);
        border-right: solid 2em var(--clr-yellow);
    }
    .title-home{
        font-size: var(--fs-h2);
    }
    .subttilte-home{
        font-size: var(--fs-h3);
        -webkit-text-stroke: 1.5px var(--clr-blue);
    }
}

/* History Styles */
.history-section{
    border: 0.4rem solid var(--clr-blue);
    outline: 0.4rem solid var(--clr-orange);
    padding: 1rem;
    outline-offset: 0.75rem;
    margin: 2em;
}

.image-history{
    width: 250px;
    height: 400px;
    background-color: var(--clr-light-yellow);
    border: solid .75rem var(--clr-blue);
    margin: 0.5em;
    position: absolute;
}

.text-history{
    position: relative;
    left: 20rem;
    margin: 1rem;
    width: 70%;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-bold);
    font-style: italic;
    color: var(--clr-blue);
}

.paragraph-history{
    margin-bottom: 2em;
    font-size: 2.25rem;
    word-spacing: 0.3rem;
}

/* Moda Praia Styles */
.beach-section{
    padding: 5rem;
    margin: 0;
    color: var(--clr-blue);
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-medium);
    text-align: center;
}

.beach-section-title{ padding-bottom: 1em; }

.bikinis{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.bikini-item{ 
    overflow: hidden;
    margin-bottom: 1.5em;
}

.bikini-img{ 
    width: 55%; 
    margin: 0 auto .5em auto;
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1);
}

.bikini-img:hover,
.bikini-item:focus .bikini-img{
    transform: scale(1.15);
}

.client-options{
    text-align: left;
    margin: 2.5em 0 4em 2em;
}

.client-options-text{
    padding-top: 1em;
    padding-bottom: .5em;    
}

.client-options-link{ color: var(--clr-light-blue); }

.client-options-link:hover{
    text-decoration: none;
    color: var(--clr-orange);
}

/* Personalizado Styles */
.subtitle-personalizado{
    background-color: var(--clr-light-blue);
    color: var(--clr-light);
    text-align: center;
    padding: 1.525em 1em;
    font-family: var(--ff-dafoe);
    letter-spacing: .2rem;
}

.description-personalizado, .title-form{ font-weight: var(--fw-bold); }

.description-personalizado{
    background-color: var(--clr-light);
    color: var(--clr-blue);
    text-align: left;
    padding: 1.525em 2em;
}

.title-form{
    color: var(--clr-light);
    background-color: var(--clr-blue);
    text-align: center;
    line-height: 1.25em;
}

.field-form{ 
    margin-bottom: 1.5em; 
    font-weight: var(--fw-bold);
}

.input-form{
    background-color: var(--clr-light-yellow);
    border: none;
    border-radius: 1.5em;      
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-bottom: .5em;
    color: var(--clr-blue);  
    text-indent: 1em; 
    height: 2.2rem; 
}

.input-form::placeholder{
    color: var(--clr-blue);
    font-size: var(--fs-body);
    opacity: 0.6;
    text-align: right; 
}

.small-input{
    position: relative;
    float: right;
    width: 6.5em; 
    height: 2rem;
    margin-top: .75em;
    margin-right: .5em;
}

.fields-form{ 
    margin: 2.75em auto 1.5em auto; 
    width: 75%;
}

.fields-form label{ font-size: 2rem; }

.client-contact, .client-email{ 
    position: relative;
    width: 50%;
}

.client-email{ float: left; }
.client-contact{ float: right; }

.name-input{ width: calc(100% - 18em); }

.email-input, .contact-input{ width: calc(81% - 5em); }

.name-input, .email-input, .contact-input{ max-width: 45em; }

.model-name-input{ width: 12em;}
.model-name-input::placeholder{ /* I need to fix this */
    text-align: center;
    color: var(--clr-blue);
}

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25rem;
    color: var(--clr-blue);
    background-color: var(--clr-light-yellow);
    display: inline-block;
    border-radius: 1.5rem;
    width: 14em;
    height: 2.1rem;
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: var(--clr-light-blue);
    cursor: pointer;
}

.model-name-input, .upload-file{ width: 18em; }

.available-options{
    margin-top: 2em;
    margin-bottom: 1em;
    width: 75%;
    text-align: center;
}

.available-prints, .available-colors{ width: 100%; }

.blocks{
    position: relative;
    width: 100px;
    height: 100px;
}

.pink{ background-color: pink;}
.black{ background-color: black;}

@media(max-width: 1080px){
    .fields-form{ 
        margin: 2em auto 1em auto; 
        width: 95%;
    }
    .client-email, .client-contact{
        width: 100%;
    }
    .client-contact{ float: left; }
    .email-input, .contact-input{ 
        width: calc(80% - 4em); 
    }
}

.woman-row, .man-row{ margin-right: 0; }

.title-measures{
    margin: 2em 0 2em 4em;
    text-align: right;
    color: var(--clr-light);
    width: 22em;
    height: 3em;
    background-color: var(--clr-orange);
}

.title-measures-blue{ background-color: #3591bf; }

.symbol{ 
    float: left;
    margin-right: 2em;
    width: 2.5em;
}

.title-symbol{ 
    width: 100%;
    position: relative;
    right: .5em;
    top: .2em;
}

.woman-measures-1, .man-measures-1{ 
    float: right; 
    margin-top: 2.5em; 
    margin-left: 1.75em;
}

.woman-measures-img, .man-measures-img{ float: left; }

.woman-row label, .man-row label{ font-size: 2.125rem; }

.woman-measures-img, .man-measures-img{ width: 35em; }
.avatar{ width: 100%; }

.text-measures{ color: var(--clr-light-blue);}

@media(max-width: 1160px){
    .woman-measures-1, .man-measures-1{ 
        position: relative;
        margin-left: 2em;        
    }
    .avatar-woman{
        text-align: center;
    }
}

.submit-form-div{
    width: fit-content;
    margin: 1em auto 1em auto;
    text-align: center;
}

.descritive-tables{
    text-align: center;
    margin-top: 2.5em;
}

.descritive-tables img{ width: 70%; }

.woman-tables, .man-tables{
    margin: 2em auto 3em auto;
}

.table{ margin-top: 2.5em; }

/* Blog Styles */
.blog{ 
    font-family: var(--ff-roboto);
    font-weight: var(--fw-bold);
    padding-bottom: 4em;
}

.titles-blog{
    position: relative;   
    left: 3em;
    top: 5em; 
    width: 100%;
}

.title-blog, .subtitle-blog, .content-blog{ margin-bottom: 1em; }

.subtitle-blog{ 
    color: var(--clr-light-blue); 
    font-size: 2rem;
}

.img-blog{
    position: relative;
    margin: 5em auto 2em auto;
    width: 20em;    
}

.image-blog{
    position: relative;    
    width: 100%;
    box-shadow: var(--bs);
}

hr{ max-width: 20em; }

@media(max-width: 680px){
    .img-blog{
        width: 80%;
    }
    .titles-blog{
        width: 80%;
    }
}

/* Compose Styles */
.compose{ padding: 2rem; }

.compose h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-blog{ font-size: var(--fs-h3); }

.textarea-blog-label{
    position: relative;
    float: left;
}

.compose-btn{
    font-size: var(--fs-h2);
    width: 20rem;
    height: 5rem;
    padding: .3rem;
    border: dotted .5rem var(--clr-orange);
}

.client-btn{
    width: fit-content;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.client-btn:hover{
    background-color: var(--clr-light-blue);
}

/* Contato Page Styles */
.contact{ padding-bottom: 3em;}

.title-contact{ 
    margin: 2em; 
    width: 10em;
}

.form-contact{ 
    position: relative;
    left: 3em;
    width: 25em;
}

.form-contact input{
    background-color: var(--clr-light-yellow);
    border: none;
    border-radius: 12px;
    color: var(--clr-blue);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.input-contact::placeholder{
    color: var(--clr-blue);
    font-size: var(--fs-h3);
    text-align: left;
    text-indent: 0.5em;
}

.input-contact{
    width: 23em;
    height: 2em;
}

.text-contact{
    font-size: var(--fs-h3);
    text-align: left;
    background-color: var(--clr-light-yellow);
    border: none;
    border-radius: 12px;
    color: var(--clr-blue);
    margin-bottom: 1em;   
    width: 15em;
}

.wrap-media{ 
    display: inline-block;
    position: relative;
    margin: 2em auto 2em auto;
    width: 24em;
    top: 7.5em;
}

.info-contact{ margin-left: 1em; }

.info-contact a{
    text-decoration: none;
    color: var(--clr-blue);
}

@media(max-width: 810px){
    .input-contact{
        width: 18em;
        margin-right: 1.5em;
    }
    .text-contact{
        width: 14em;
    }
    .wrap-media{
        margin-left: 2em;
        width: 16em;
    }
    .info-contact{ width: fit-content; }
}

@media(max-width: 600px){    
    .form-contact{
        width: 20em;
        left: 1em;
    }
    .wrap-media{
        top: 1em;
        margin-left: 0.3em;
        width: 15em;
    }
}
    
/* Login/Register Styles */

.title-login, .title-register{
    margin-bottom: 1em;
}

.login-section{
    margin-top: 2em;
}

/* Footer Styles */

footer{   
    position: relative; 
    background-color: var(--clr-light);  
    padding: 1.5rem;
    margin: 0;       
}

.image-footer{
    position: relative;
    margin: 3em auto 1em auto;
    width: 10em;
}

.image-bottom{ width: 100%;}

.icons-media{
    position: relative;
    text-align: center; 
    width: 10rem;
    margin: 0 auto 1rem auto;
}

.social-icon{
    position: relative;
    font-size: 2em;    
    color: var(--clr-blue);
    margin: 0.5rem;
    text-align: center;
}

.social-icon:hover{ color: var(--clr-yellow); }

.link-social-media:hover{ text-decoration: none; }

@media(max-width: 600px){
    footer{
        padding: 0.5em; 
    }
    .icons-media{ width: 6rem; }
}

.developer{ text-align: center; }

.developer a{
    color: var(--clr-gray);
    text-decoration: none;
}

.developer a:hover{
    color: var(--clr-orange);
}
