
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
@font-face{
    font-family: 'MYRIADPRO-BOLDCONDIT';
    src: url('/fonts/MYRIADPRO-BOLDCONDIT.OTF') format("opentype");    
    font-weight: 700;
    font-style: normal;
}

:root{
    --ff-primary:  myriad-pro, sans-serif;
    --ff-secundary:  myriad-pro-condensed, sans-serif;
    --ff-myriadbold: 'MYRIADPRO-BOLDCONDIT';

    --clr-light: #fff;
    --clr-blue: rgb(28, 87, 124);
    --clr-light-blue: rgb(147, 189, 209);
    --clr-gray: rgb(160, 169, 173);
    --clr-yellow: rgb(243, 225, 135);
    --clr-light-yellow: rgb(241, 225, 159);
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.2rem;
    }
}
/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;   
    color: var(--clr-blue);
    font-family: var(--ff-primary);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--fs-h1); }
h2{ font-size: var(--fs-h2); }
h3{ font-size: var(--fs-h3); }

/* Buttons */
.buttons-header{
    margin-bottom: 0;
}
.btn{
    color: var(--clr-light-blue);
    background-color: var(--clr-light);
    cursor: pointer;    
    line-height: 0.9rem;
}

.btn:hover{
    color: var(--clr-blue);
    background-color: var(--clr-light);
    text-decoration: none;
}

.btn a{
    text-decoration: none;
}

.input-button{
    color: var(--clr-gray);
    background-image: url('/images/search-solid.svg'); 
    background-repeat: no-repeat; 
    background-position: 2px 4px;  
    background-size: 9%;  
    margin-bottom: 0;
    line-height: 0.4rem;
    position: relative;
    bottom: 0;
}
.input-button:active{
    background-image: url('/images/search-solid.svg'); 
    background-repeat: no-repeat; 
    background-position: 2px 4px;  
    background-size: 9%; 
    border: none; 
}

.input-button, .btn{
    display: inline-block;
    border: none;       
    font-family: var(--ff-secundary);
    font-size: var(--fs-body);
    text-align: center;
    text-transform: uppercase;
    width: 9.4em;
    border-radius: 4em;
    border-color: white;
}

/* Styles for the Header Section */

.header{
    text-align: center;
    background-color: var(--clr-yellow) ;
    margin: 0;
    padding: 0;
}
.header_logo{
    width: 50%;
    position: relative;
    margin: 0.1em auto 0.3em auto;
}

.logo{
    width: 15%;
    margin: 0;
}

.nav{
    position: fixed;   
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list{
    list-style: none;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center; 
    padding: 0;  
    margin: 0;
    margin-top: 2.5em;
    margin-left: 1em;    
}

.nav_link{
    color: inherit;
    text-decoration: none;
}

.nav_link:hover{
    color: var(--clr--accent);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(75em);    
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr--accent2);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{ top: 6px;}
.hamburger::after{ bottom: 6px;}

@media(min-width: 600px){
    .logo{
        width: 35%;
        min-width: 250px;
        margin: 2em auto 1.5em auto;
    }    
}

@media(min-width: 1000px){
    .nav-open .nav{
        transform: translateX(80%);    
    }
}

@media screen and (max-width: 1000px) and (min-width: 425px){
    .nav-open .nav{
        transform: translateX(70%);    
    }
}

@media(max-width: 425px){
    .nav-open .nav{
        transform: translateX(55%);    
    }
}

@media(max-width: 930px){
    .buttons-header{
        display: none;
    }
}

/* Home Page Styles */
.home-section .item{
    margin: 0;
    padding: 0;
}
.container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.images{
    margin: 0;
    z-index: 1;     
}

.image{    
    max-width: 84.3em; 
    border: solid white 1px;    
}

.title-home{
    z-index: 1000;
    position: absolute;
    width: 70%;
    bottom: 1%;
    left: 25%;
    -webkit-text-stroke: 2px var(--clr-blue);
    color: var(--clr-light);
}

/* History Styles */

.history-section{
    border: 0.4rem solid var(--clr-blue);
    outline: 0.4rem solid orange;
    padding: 1rem;
    outline-offset: 0.75rem;
    margin: 2em;
}

.image-history{
    width: 250px;
    height: 400px;
    background-color: var(--clr-light-yellow);
    border: solid .75rem var(--clr-blue);
    margin: 0.5em;
    position: absolute;
}

.text-history{
    position: relative;
    left: 20rem;
    margin: 1rem;
    width: 70%;
    font-family: var(--ff-secundary);
}

.paragraph-history{
    margin-bottom: 3.5rem;
    font-size: 2.25rem;
}

/* Personalizado Styles */
.subtitle-personalizado{
    background-color: var(--clr-light-blue);
    color: var(--clr-light);
    text-align: center;
    padding: 1.525em 1em;
    font-family: cursive;
}

.description-personalizado{
    background-color: var(--clr-light);
    color: var(--clr-blue);
    text-align: left;
    font-size: 1.75em;
    padding: 1.525em 2em;
}

.title-form{
    color: var(--clr-light);
    background-color: var(--clr-blue);
    text-align: center;
    line-height: 4rem;
    font-size: 2.75rem;
}

.images-medidas{
    margin: 3rem 2rem;
}

.man-mesures{
    width: 20%;
    margin-left: 8rem;
}

.woman-mesures{
    width: 30%;
    position: relative;
    right: -25rem;
}

.form{
    color: var(--clr-blue);
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-right: 1.5rem;
}

.input-form{
    background-color: var(--clr-light-yellow);
    border: none;
    border-radius: 10px;  
    margin-bottom: 4rem; 
    margin-left: 0.75rem;
    margin-right: 0.75rem;    
}

.name-form{ width: 75%; }

.email-form, .contact-form{ width: 37%; }

.number-form{ width: 20%; }

.pants{ margin-right: 4.5rem;}

.model-form{
    width: 20%;
}

.submit-form{
    color: var(--clr-light);
    text-transform: uppercase;
    background-color: var(--clr-blue);
    width: 15%;
    border: none;
    border-radius: 10px;
    position: relative;       
}

/* Blog Styles */

.blog{ margin: 2rem; }

.titles-blog{
    margin-top: 15em;
    margin-left: 5em;
    position: relative;
}

.title-blog, .subtitle-blog{
    font-size: var(--fs-h3);    
}

.title-blog{ color: var(--clr-blue); }

.subtitle-blog{ color: var(--clr-light-blue); }

.image-blog{
    position: relative;
    float: right;
    right: 5rem;
    width: 20%;
}



/* Footer Styles */

footer{
    background-color: darkblue;
    color: var(--clr-light);
}
