
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
@font-face{
    font-family: 'MYRIADPRO-BOLDCONDIT';
    src: url('/fonts/MYRIADPRO-BOLDCONDIT.OTF') format("opentype");    
    font-weight: 700;
    font-style: normal;
}

:root{
    --ff-primary:  myriad-pro, sans-serif;
    --ff-secundary:  myriad-pro-condensed, sans-serif;
    --ff-myriadbold: 'MYRIADPRO-BOLDCONDIT';
    --ff-test: 'Roboto', sans-serif;;

    --clr-light: #fff;
    --clr-blue: rgb(28, 87, 124);
    --clr-light-blue: rgb(147, 189, 209);
    --clr-gray: rgb(160, 169, 173);
    --clr-yellow: rgb(243, 225, 135);
    --clr-light-yellow: rgb(241, 225, 159);
        
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;   
    font-family: var(--ff-primary);
    color: var(--clr-blue);
    width: fit-content;
}

section{ padding-bottom: 2em; }

/* Typography */
h1, h2, h3{
    line-height: 1;
    margin: 0;
}

/* Buttons */
.buttons-header{ margin-bottom: 0; }

.btn{
    background-color: var(--clr-light);
    cursor: pointer;    
    line-height: 0.9rem;
    font-weight: 400;
}

.btn-label{
    text-decoration: none;
    color: var(--clr-blue);
    font-family: var(--ff-test);
    font-weight: 400;
}

.btn-link:hover{
    text-decoration: none;
    color: var(--clr-light-blue);
}

.access{
    margin-top: 2em;
    background-color: var(--clr-yellow);
    color: var(--clr-blue);
}

.input-button{
    color: var(--clr-gray);
    font-family: var(--ff-test);
    font-weight: 400;
    background-image: url('/images/search-solid.svg'); 
    background-repeat: no-repeat; 
    background-position: 3px 4px;  
    background-size: 8%;  
    margin-bottom: 0;    
    padding-bottom: 5px;
    padding-top: 0;
    position: relative;
    bottom: 0;
    height: 1.65rem;
    text-indent: 0.75rem;
}

.input-button, .btn{
    display: inline-block;
    border: none;       
    font-family: var(--ff-secundary);
    font-size: var(--fs-body);
    text-align: center;
    text-transform: uppercase;
    width: 9.7rem;
    border-radius: 4em;
    border-color: white;
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1em;
    padding-right: 0;
}

.input-button:active{
    background-image: url('/images/search-solid.svg'); 
    background-repeat: no-repeat; 
    background-position: 2px 4px;  
    background-size: 8.5%; 
    border: none; 
}

/* Styles for the Header Section */

.header{
    text-align: center;
    background-color: var(--clr-yellow);
    margin: 0;
    padding: 0;
    width: 100%;
}

.header_logo{
    width: 50%;
    position: relative;
    margin: 0.1em auto 0 auto;
}

.logo{
    width: 25%;
    min-width: 200px;
    margin: 1.5em auto 1em auto;
}

@media(min-width: 600px){
    .logo{
        width: 35%;
        min-width: 200px;
        margin: 2em auto 1.5em auto;
    }    
}

.nav{
    position: fixed;   
    background: var(--clr-light-blue);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list{
    list-style: none;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center; 
    padding: 0;  
    margin: 0;
    margin-top: 2.5em;
    margin-left: 1em;    
}

.nav_link{
    color: inherit;
    text-decoration: none;
}

.nav_link:hover{ color: var(--clr-blue); }

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{ transform: translateX(0); }

.nav-open .nav-toggle{ position: fixed; }

.nav-open .hamburger{ transform: rotate(.625turn); }

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{ opacity: 0; }

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-blue);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{ top: 6px;}
.hamburger::after{ bottom: 6px;}

@media(max-width: 1000px){
    .nav-open .nav{
        transform: translateX(0);    
    }
}

@media(max-width: 900px){
    .buttons-header{
        display: none;
    }
}

/* Home Page Styles */
.home-section{
    margin: 0;    
    padding: 0;
    height: 30rem;
    border-left: solid 4rem var(--clr-yellow);
    border-right: solid 4rem var(--clr-yellow);
    background-color: var(--clr-yellow);
    background-image: url("/images/evolucao-biquini.png");
    background-size: 112%; 
    background-repeat: no-repeat;   
}

.title-home{
    z-index: 1000;
    position: relative;
    top: 19rem;
    width: max-content;
    margin-left: auto;
    margin-right: auto;      
    -webkit-text-stroke: 2.5px var(--clr-blue);
    color: var(--clr-light);
    font-size: 4em;  
    box-shadow: var(--bs);  
}

.circles{
    z-index: 1000;
    width: 4rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 22rem;    
}

.circle1, .circle2{
    background-color: var(--clr-blue);
    border-radius: 2rem;
    position: relative;
}

.circle1{ 
    width: 2.1rem;
    height: 2.1rem;
    border: solid 0.2rem var(--clr-light);
    float: left;
}
.circle2{ 
    width: 1.5rem;
    height: 1.5rem;
    border: solid 0.1rem var(--clr-light);
    float: right;
    margin-top: 0.6rem;
} 

@media(min-width: 1000px){
    .title-home{ top: 12rem; }
    .circles{ top: 15rem; }
}

@media(max-width: 1000px){
    .title-home{
        top: 10rem;
    }
    .circles{
        top: 12rem;
    }
}

@media(max-width: 480px){
    .home-section{
        height: 10rem;
        background-size: 125%;
        border-left: solid 2rem var(--clr-yellow);
        border-right: solid 2rem var(--clr-yellow);
    }
    .title-home{
        font-size: 1.2em;
        text-align: center;
        -webkit-text-stroke: 1px var(--clr-blue);
        width: 10rem;
        top: 3rem;
    }
    
    .circles{ 
        top: 3.4rem;
        width: 1.5rem;
    }
    .circle1, .circle2{
        border: solid 0.05rem var(--clr-light);
    }
    .circle1{
        width: 0.8rem;
        height: 0.8rem;
    }
    .circle2{
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 0.4rem;
    }
}

/* History Styles */
.history-section{
    border: 0.4rem solid var(--clr-blue);
    outline: 0.4rem solid orange;
    padding: 1rem;
    outline-offset: 0.75rem;
    margin: 2em;
}

.image-history{
    width: 250px;
    height: 400px;
    background-color: var(--clr-light-yellow);
    border: solid .75rem var(--clr-blue);
    margin: 0.5em;
    position: absolute;
}

.text-history{
    position: relative;
    left: 20rem;
    margin: 1rem;
    width: 70%;
    font-family: var(--ff-myriadbold);
    color: var(--clr-blue);
}

.paragraph-history{
    margin-bottom: 3.5rem;
    font-size: 2.25rem;
}

/* Moda Praia Styles */
.praia-section{
    padding: 5rem;
    margin: 0;
    color: var(--clr-blue);
    font-family: var(--ff-myriadbold);
}

/* Personalizado Styles */
.subtitle-personalizado{
    background-color: var(--clr-light-blue);
    color: var(--clr-light);
    text-align: center;
    padding: 1.525em 1em;
    font-family: cursive;
}

.description-personalizado{
    background-color: var(--clr-light);
    color: var(--clr-blue);
    text-align: left;
    font-size: 1.75em;
    padding: 1.525em 2em;
}

.title-form{
    color: var(--clr-light);
    background-color: var(--clr-blue);
    text-align: center;
    line-height: 4rem;
    font-size: 2.75rem;
}

.man-image, .woman-image{
    width: 70%;
}

.man-image-measures{ width: 60%; }
.woman-image-measures{ width: 90%; }

.inputs-images-people{ margin-top: 2em; }

.radioboxes{
    position: relative;
    width: fit-content;
    left: 50%;
}

.input-closed{ visibility: hidden; }

.input-open{ visibility: visible; }

.small-input{ width: 6em; }

.input-form{
    background-color: var(--clr-light-yellow);
    border: none;
    border-radius: 1.5rem;      
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 2rem;
    color: var(--clr-blue);  
    text-indent: 1em; 
    height: 2rem; 
}

.input-form::placeholder{
    color: var(--clr-blue);
    font-size: var(--fs-body);
    opacity: 0.6;
    text-align: right;
    
}

.fields-form, .name-label, .name-input, .email-label, .email-input,
.contact-label, .contact-input, .pants-label, .model-image-input{
    position: relative;
}

.name{ width: 100%; }
.name-label{ float: left; }
.name-input{ width: fit-content; }
.client-email{ width: 100%; }
.email-input{ width: fit-content; }
.contact-input{ width: fit-content; }
.pants-input{ width: 12rem; }
.bra-input{ width: 12rem; }

.model-image-input{ 
    width: fit-content;
    font-size: 1rem;    
    top: -0.7rem;
} 

.submit-form{
    color: var(--clr-light);
    text-transform: uppercase;
    background-color: var(--clr-blue);
    width: 20%;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 32rem;      
}

.submit-form:hover{
    background-color: var(--clr-light-blue);
}

/* Blog Styles */
.blog{ padding-bottom: 2em;}

.titles-blog{
    position: relative;   
    left: 3em;
    top: 5em; 
    width: 100%;
}

.title-blog, .subtitle-blog, .content-blog{ 
    margin-bottom: 1em;
}

.title-blog{ 
    color: var(--clr-blue); 
    font-size: 2.2rem;
}

.subtitle-blog{ 
    color: var(--clr-light-blue); 
    font-size: 2rem;
}

.content-blog{ font-size: 1.8rem; }

.img-blog{
    position: relative;
    margin: 5em auto 2em auto;
    width: 20em;    
}

.image-blog{
    position: relative;    
    width: 100%;
    box-shadow: var(--bs);
}

hr{ max-width: 15em; }

@media(max-width: 680px){
    .img-blog{
        width: 80%;
    }
    .titles-blog{
        width: 80%;
    }
}

/* Compose Styles */
.compose{ padding: 2rem; }

.compose h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-blog{ font-size: var(--fs-h3); }

.textarea-blog-label{
    position: relative;
    float: left;
}

.compose-btn{
    font-size: var(--fs-h2);
    width: 20rem;
    height: 5rem;
    padding: .3rem;
    border: dotted .5rem orange;
}

/* Contact Styles */
.contact{ padding-bottom: 3em;}

.title-contact{ 
    margin: 2em; 
    width: 10em;
}

.form-contact{ 
    position: relative;
    left: 3em;
    width: 25em;
}

.form-contact input{
    background-color: var(--clr-light-yellow);
    border: none;
    border-radius: 12px;
    color: var(--clr-blue);
    margin-bottom: 1em;
}

.input-contact::placeholder{
    color: var(--clr-blue);
    font-size: var(--fs-h3);
    text-align: left;
    text-indent: 0.5em;
}

.input-contact{
    width: 23em;
    height: 2em;
}

.text-contact{
    font-size: var(--fs-h3);
    text-align: left;
    width: 23em;
    background-color: var(--clr-light-yellow);
    border: none;
    border-radius: 12px;
    color: var(--clr-blue);
    margin-bottom: 1em;   
}

.submit-form-contact{
    background-color: var(--clr-blue);
    color: var(--clr-light);
    border: none;
    border-radius: 12px;
}

.submit-form-contact:hover{
    background-color: var(--clr-light-blue);
    color: var(--clr-light);
}

.wrap-media{ 
    display: inline-block;
    position: relative;
    margin: 2em auto 2em auto;
    width: 24em;
    top: 7.5em;
}

.info-contact{ margin-left: 1em; }

.info-contact a{
    text-decoration: none;
    color: var(--clr-blue);
}

@media(max-width: 810px){
    .input-contact, .text-contact{
        width: 18em;
        margin-right: 1em;
    }
    .wrap-media{
        margin-left: 2em;
        width: 16em;
    }
    .info-contact{ width: fit-content; }
}

@media(max-width: 570px){    
    .form-contact{
        width: 20em;
        left: 1em;
    }
    .wrap-media{
        top: 1em;
        margin-left: 0.3em;
    }
}
    
/* Login/Register Styles */

.title-login, .title-register{
    margin-bottom: 1em;
}

/* Footer Styles */

footer{   
    position: relative; 
    background-color: var(--clr-light);  
    padding: 1.5rem;
    margin: 0;       
}

.image-footer{
    position: relative;
    margin: 3em auto 1em auto;
    width: 10em;
}

.image-bottom{ width: 100%;}

.icons-media{
    position: relative;
    text-align: center; 
    width: 10rem;
    margin: 0 auto 0 auto;
}

.social-icon{
    position: relative;
    font-size: 2em;    
    color: var(--clr-blue);
    margin: 0.5rem;
    text-align: center;
}

.social-icon:hover{ color: var(--clr-yellow); }

.link-social-media:hover{ text-decoration: none; }

@media(max-width: 600px){
    footer{
        padding: 0.5em; 
    }
    .icons-media{ width: 6rem; }
}
